doctype html
html
  head
    style
      include ../style.css
  h2 Contact

    p Name:
      input(type="text" name="name" placeholder="")
    p Email:
      input(type="email" name="email" placeholder="")
  
    input(type="submit")

img(src="https://cataas.com/cat", alt="Random Cat Photo")
